html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

a{
  color: currentColor;
  text-decoration: none;
}

*:focus{
  outline: none !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.clearfix {
  clear: both;
}

.color-1 {
  color: $color1;
}

.color-2 {
  color: $color2;
}

body {
  font-family: $font_body;
  color: $color_body;
  font-size: 1em;
  // background-color: $color_bg;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.title-h1 {
  font-family: $font_title;
  font-size: em(70);
  line-height: 1em;
  margin: 0;

  @media screen and (max-width: $mobile_breakpoint) {
		font-size: em(34);
		line-height: em(36, 34);
  }
}

.title-h2 {
  font-family: $font_title;
  font-size: em(46);
  line-height: 1em;
  margin: 0;

  @media screen and (max-width: $mobile_breakpoint) {
    font-size: em(34);
    line-height: em(36, 34);
  }
}

.title-h3 {
  font-family: $font_title;
  font-size: em(24);
  line-height: em(30, 24);
  margin: 0;

  @media screen and (max-width: $mobile_breakpoint) {
    font-size: em(24);
    line-height: em(24, 30);
  }
}

.default-paragraph {
  font-size: em(18);
	line-height: em(30, 18);
	
  @media screen and (max-width: $mobile_breakpoint) {
    font-size: em(16);
    line-height: em(26);
  }
}

p{
  @extend .default-paragraph;

  &.small {
		font-size: rem(14);
  	line-height: em(22, 14);
  }
}

.blockquote-default {
  @extend .default-paragraph;
  margin: 1.5em 0;
}

small {
  font-size: rem(14);
  line-height: em(22, 14);
}

.eyebrow {
  margin: 0;
  color: $color3;
  font-size: em(11);
	line-height: em(18, 11);
	text-transform: uppercase;
}

strong {
  font-weight: 600;
}

.rounded-input {
  display: inline-block;
  font-size: em(18);
  height: em(58, 18);
  line-height: em(58, 18);
  padding: 0 em(30, 18);
  border: 1px solid currentColor;
  border-radius: em(30, 18);
  background-color: transparent;
}

.btn {
  @extend .rounded-input;
  cursor: pointer;
  font-weight: 600;
  color: $color1;
  transition: all 0.7s $curve;

  &:hover {
    background-color: $color1;
    border-color: $color1;
    color: #fff;
  }

  &--ligher {
    color: $color2;

    &:hover {
      background-color: $color2;
      border-color: $color2;
      color: #fff;
    }
	}

	&--neutral {
		color: $color_body;
		border: 0.5px solid #02002D;
		font-weight: normal;

		&:hover {
			border-color: $color_body;
			background-color: $color_body;
			color: #fff;
		}
	}
	
	&--filled {
		background-color: $color1;
		border-color: $color1;
		color: #fff;
	}

  &--sm {
    height: em(45, 18);
    line-height: em(45, 18);

    @media screen and (max-width: $mobile_breakpoint) {
      font-size: em(14);
    }
	}
	
	&--lg {
		height: em(60, 18);
		line-height: em(60, 18);
		width: 100%;
		max-width: em(465, 18);
		text-align: center;
	}
}
